.center{
    text-align: center;
}

img {
    vertical-align: middle;
    border-style: none;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.item-list{
    
    padding: 5%;
    margin: 3px;
}

[role=link]:is([aria-current],:hover,:active,:focus), a:is([aria-current],:hover,:active,:focus){
    -moz-text-decoration-line: none !important;
    text-decoration: none;
}