footer {
  text-align: center;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 10px;
}

small {
  display: block;
  text-align: center;
  margin-top: 20px;
}
