.MuiMenu-list {
  display: table-cell !important;
  list-style-type: none !important;
  vertical-align: middle;
}
.MuiList-root {
  display: table-row !important;
}

.MuiPaginationItem-page {
  color: #d2bebe !important; /* Cambiar el color a rojo */
}
